.profile{
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  height: 80vh;
  padding-top: 2%;
}
.left-profile{
  width: 35%;
  border: 1px solid rgb(211, 203, 203);
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-profile{
  width: 65%;
  border: 1px solid rgb(211, 203, 203);
}
.profile-form{
  display: flex;
  justify-content: center;
}
.left-form{
  display: flex;
  flex-direction: column;
}
.right-form{
  display: flex;
  flex-direction: column;
}