.payment-input {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s;
  width: 25%;
}
.payment {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
  padding-top: 5%;
  text-align: center;
}

.form-payment {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
}
.payment-btn {
  background-color: red;
  border: 0;
  padding: 1%;
  cursor: pointer;
  color:white;
  border-radius: 10px;
}
.payment-container {
  padding-top: 1%;
}
