.swipe-page{
  background: linear-gradient(to bottom, #161515, #ff0000);
}
.dashboard {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 0;
}
.followed-users{
  padding: 3%;
}
.following-img{
  width: 10%;
}
.dashboard-title {
  display: flex;
  justify-content: center;
  padding-top: 2%;
  font-size: 1vw;
}
.dashboard .swipe-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 88vh;
  padding-top: 2%;
  padding-right: 15%;
}
.swipe-right{
  font-size: 1.9vw;
}

.swipe {
  position: absolute;
  padding-top: 2%;
}

.dashboard .card-container {
  width: 25vw;
  height: 95vh;
}

.card {
  position: relative;
  background-color: #fff;
  width: 25vw;
  height: 75vh;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}

.following {
  margin-top: -5%;
}
.card h3 {
  color: black;
}

.dashboard .swipe-info {
  position: absolute;
  bottom: 0;
  padding: 5px;
}

.user-name {
  background-color: red;
  width: 13vw;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 10vh;
  font-size: 1.5vw;
  padding-top: 10;
}
.user-matches {
  background-color: #fff;
  color: black;
  width: 13vw;
  height: 89%;
  display: flex;
  flex-direction: column;
}
.no-users{
  padding-top: 50%;
}
.user-matches-title {
  display: flex;
  justify-content: center;
  font-size: 1.3vw;
  padding-top: 5%;
  background-color: red;
  padding: 10%;
  color: #fff;
}

.user-matches-content {
  padding-top: 10%;
  color: red;
}
@media screen and (max-width: 850px) {
  .card {
    position: relative;
    background-color: #fff;
    width: 70vw;
    height: 65vh;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
  }
  .dashboard .card-container {
    width: 40vw;
    height: 95vh;
  }
  .dashboard-title {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    font-size: 1vw;
    padding-left: 10%;
  }
  .following{
    display: none;
  }
}
