.homepage {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 10% 0;
  color: white;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 2.5vw;
}
.desc {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 2% 0;
  text-align: center;
  font-size: 1vw;
}
.enter {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.enter-btn {
  background-color: red;
  color: white;
  padding: 0.8%;
  padding-right: 3%;
  padding-left: 3%;
  cursor: pointer;
  border: solid 0px;
  font-size: 2vw;
}
